.cart {
  background-color: #ffebc1;
  border-radius: 4px;
  cursor: default;

  .items-wrapper {
    width: 75%;
    overflow: hidden auto;
  }

  .cart-info {
    width: 25%;

    .close-btn {
      width: 20px;
      height: 20px;
      right: 12px;
      top: 0;
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
        transition: 0.25s;
      }
    }

    .catalog {
      overflow: hidden auto;

      .catalog-item {
        font-size: 14px;
      }
    }

    .confirm-btn {
      background: linear-gradient(0deg, rgba(253, 132, 45, 1) 4%, rgba(253, 179, 28, 1) 90%);
      color: #ffebc1;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
        transition: 0.25s;
      }

      &.disabled {
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.35;
      }
    }
  }
}
